<style>
  .item-divider {
    padding-top: 16px;
    padding-bottom: 16px;
  }
</style>
<ion-view view-title="Delivery Observation Checklist">
  <ion-content class="padding" overflow-scroll="true">
    <div>
      <p>Question {{ deliveryCheck.counter + 1 }} of {{ deliveryCheck.members.length }}</p>
    </div>
    <ion-list>
      <div class="item item-divider item-positive item-text-wrap">{{ deliveryCheck.question.questionText }}</div>
      <ion-radio class="item-text-wrap" ng-repeat="questionOption in deliveryCheck.question.questionOptions"
                 ng-value="deliveryCheck.hashCode(questionOption)"
                 ng-model="deliveryCheck.selectedOption"
                 ng-change="deliveryCheck.optionSelected()">
        {{ questionOption }}
      </ion-radio>
    </ion-list>
  </ion-content>
  <div>
    <button class="round-overlay-button bottom-right positive button button-icon icon light"
            ng-class="{'positive': deliveryCheck.displayNext(), 'stable': !deliveryCheck.displayNext()}"
            ng-click="deliveryCheck.nextQuestion()">
      <i class="icon"
         ng-class="{'ion-ios-arrow-right': !deliveryCheck.finalQuestion(), 'ion-android-upload': deliveryCheck.finalQuestion()}"></i>
    </button>
    <button class="round-overlay-button bottom-left positive button button-icon icon light"
            ng-class="{'positive': deliveryCheck.displayPrevious(), 'stable': !deliveryCheck.displayPrevious()}"
            ng-click="deliveryCheck.previousQuestion()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
  </div>
</ion-view>
