<ion-view view-title="OSCE Station A" hide-back-button="true">
  <ion-content class="padding" scroll="false">
    <div class="list animated slideInRight">
      <div class="item item-divider">Attempt {{ osceReview.attempt }}</div>
      <div class="item item-body">
        <div>
          <ol>
            <li>{{ osceReview.correct.length }} of 13 steps ticked 'Done'.</li>
            <li>{{ osceReview.incorrect.length>0?osceReview.incorrect.length-1:0 }} of 13 steps ticked 'Not Done'.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="animated slideInUp">
      <button ng-show="{{ osceReview.attempt < 4 }}" class="button button-positive" ng-click="osceReview.retake()">Retake</button>
      <button class="button button-positive" ng-click="osceReview.close()">Close</button>
    </div>
  </ion-content>
</ion-view>
