<ion-view view-title="Delivery Observation Checklist" hide-back-button="true">
  <ion-content class="padding" scroll="false">
    <div class="list animated slideInRight">
      <div class="item item-divider">Attempt {{ deliveryReview.attempt }}</div>
      <div class="item item-body">
        <div>
          <ol>
            <li>Checklist is done!</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="animated slideInUp">
      <button ng-show="{{ deliveryReview.attempt < 4 }}" class="button button-positive" ng-click="deliveryReview.retake()">Retake</button>
      <button class="button button-positive" ng-click="deliveryReview.close()">Close</button>
    </div>
  </ion-content>
</ion-view>
