<style>
  .item-divider {
    padding-top: 16px;
    padding-bottom: 16px;
  }
</style>
<ion-view view-title="Delivery Observation Checklist">
  <ion-content class="padding" overflow-scroll="true">
    <div>
      <p>Question {{ deliveryCheck.counter + 1 }} of {{ deliveryCheck.members.length }}</p>
    </div>
    <ion-list>
      <div class="item item-divider item-positive item-text-wrap">{{ deliveryCheck.question.questionText }}</div>
      <div ng-switch="deliveryCheck.question.answerType">
        <label class="item item-input" ng-switch-when="Text">
          <input type="text" placeholder="Type your answer here" ng-model="deliveryCheck.selectedOption" >
        </label>
        <label class="item item-input"  ng-switch-when="Date">
          <input type="date" ng-model="deliveryCheck.selectedOption">
        </label>
        <label class="item item-input"  ng-switch-when="Time">
          <input type="time" ng-model="deliveryCheck.selectedOption">
        </label>
        <div ng-switch-when="Multi">
          <ion-checkbox class="item-text-wrap" ng-repeat="questionOption in deliveryCheck.question.questionOptions"
                     ng-value="deliveryCheck.hashCode(questionOption)"
                     ng-model="deliveryCheck.selectedOption[deliveryCheck.hashCode(questionOption)]">
            {{ questionOption }}
          </ion-checkbox>
        </div>
        <div ng-switch-default>
          <ion-radio class="item-text-wrap" ng-repeat="questionOption in deliveryCheck.question.questionOptions"
                     ng-value="deliveryCheck.hashCode(questionOption)"
                     ng-model="deliveryCheck.selectedOption"
                     ng-change="deliveryCheck.optionSelected()">
            {{ questionOption }}
          </ion-radio>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <div>
    <button class="round-overlay-button bottom-right positive button button-icon icon light"
            ng-class="{'positive': deliveryCheck.displayNext(), 'stable': !deliveryCheck.displayNext()}"
            ng-click="deliveryCheck.nextQuestion()">
      <i class="icon"
         ng-class="{'ion-ios-arrow-right': !deliveryCheck.finalQuestion(), 'ion-android-upload': deliveryCheck.finalQuestion()}"></i>
    </button>
    <button class="round-overlay-button bottom-left positive button button-icon icon light"
            ng-class="{'positive': deliveryCheck.displayPrevious(), 'stable': !deliveryCheck.displayPrevious()}"
            ng-click="deliveryCheck.previousQuestion()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
  </div>
</ion-view>
