<ion-view view-title="Dashboard">
  <ion-content overflow-scroll="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="dashboard.refresh()"></ion-refresher>
    <div class="list card animated bounceInLeft">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There are <b>2</b> training and evaluation materials available.
        </div>
      </div>
    </div>
    <div class="list card animated bounceInRight">
      <div class="item item-divider">Score</div>
      <div class="item item-body">
        <div>
          You have attempted to do evaluations <b>{{ dashboard.attempt }}</b> times already.
        </div>
      </div>
    </div>
    <div class="list card animated bounceInUp">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          There will be more forms and evaluation added to this program in the future.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
