<style>
  .item-divider {
    padding-top: 16px;
    padding-bottom: 16px;
  }
</style>
<ion-view view-title="Questions">
  <ion-content class="padding" overflow-scroll="true">
    <div>
      <p>Question {{ lesson.counter + 1 }} of {{ lesson.members.length }}</p>
    </div>
    <ion-list>
      <div class="item item-divider item-positive">{{ lesson.question.question }}</div>
      <ion-radio class="item-text-wrap" ng-repeat="option in lesson.question.options"
                 ng-value="lesson.hashCode(option)"
                 ng-model="lesson.selectedOption"
                 ng-change="lesson.optionSelected()">
        {{ option }}
      </ion-radio>
    </ion-list>
  </ion-content>
  <div>
    <button class="round-overlay-button bottom-right positive button button-icon icon light"
            ng-class="{'positive': lesson.displayNext(), 'stable': !lesson.displayNext()}"
            ng-click="lesson.nextQuestion()">
      <i class="icon"
         ng-class="{'ion-ios-arrow-right': !lesson.finalQuestion(), 'ion-android-upload': lesson.finalQuestion()}"></i>
    </button>
    <button class="round-overlay-button bottom-left positive button button-icon icon light"
            ng-class="{'positive': lesson.displayPrevious(), 'stable': !lesson.displayPrevious()}"
            ng-click="lesson.previousQuestion()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
  </div>
</ion-view>
